.animation-field {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.deform  {
    width: 400px;
    height: 400px;
    -webkit-transform: scaleX(2);
    transform: scaleX(2);
    // border: 2px solid red;
    left: 40%;
    position: absolute;
    top: 32%;
    border-radius: 50%;
}

.rotate {
    width: 100%;
    height: 100%;
    -webkit-animation: circle 100s infinite linear;
    animation: circle 100s infinite linear;    
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.counterrotate {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 72px;
    height: 72px;
    -webkit-animation: ccircle 100s infinite linear;
    animation: ccircle 100s infinite linear;
}

.counterrotate-2 {
    position: absolute;
    top: 0;
    width: 72px;
    height: 72px;
    -webkit-animation: ccircle 100s infinite linear;
    animation: ccircle 100s infinite linear;    
}

.counterrotate-3 {
    position: absolute;
    right: 0;
    width: 72px;
    height: 72px;
    -webkit-animation: ccircle 100s infinite linear;
    animation: ccircle 100s infinite linear;    
}

.counterrotate-4 {
    position: absolute;
    bottom: 0;
    width: 72px;
    height: 72px;
    -webkit-animation: ccircle 100s infinite linear;
    animation: ccircle 100s infinite linear;    
}

.first_icon {
    position: absolute;
    left: 0px;
    top: 0px;
    display: block;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);  
    
    animation: scaleAnimation1 50s infinite ease-in-out;
}

.second_icon {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    -webkit-transform: scaleX(0.5);   
    transform: scaleX(0.5); 

    animation: scaleAnimation2 50s infinite ease-in-out;
}

.third_icon {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    -webkit-transform: scaleX(0.5);  
    transform: scaleX(0.5);

    animation: scaleAnimation3 50s infinite ease-in-out;
}

.fourth_icon {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    -webkit-transform: scaleX(0.5);   
    transform: scaleX(0.5);
    
    animation: scaleAnimation4 50s infinite ease-in-out;
}

    
@-webkit-keyframes circle {
    from {-webkit-transform: rotateZ(0deg)}
    to {-webkit-transform: rotateZ(360deg)}
}
@keyframes circle {
    from {-webkit-transform: rotateZ(0deg)}
    to {-webkit-transform: rotateZ(360deg)}
}

@-webkit-keyframes ccircle {
    from {-webkit-transform: rotateZ(360deg)}
    to {-webkit-transform: rotateZ(0deg)}
}
@keyframes ccircle {
    from {-webkit-transform: rotateZ(360deg)}
    to {-webkit-transform: rotateZ(0deg)}
}



@keyframes scaleAnimation1 {
    0% {
        transform: scaleX(0.5) scaleY(1);
    }
    50% {
        transform: scaleX(0.75) scaleY(1.5);
    }
    100% {
        transform: scaleX(0.5) scaleY(1);
    }
}

@keyframes scaleAnimation2 {
    0% {
        transform: scaleX(0.65) scaleY(1.4);
    }
    50% {
        transform: scaleX(0.4) scaleY(0.8);
    }
    100% {
        transform: scaleX(0.65) scaleY(1.4);
    }
}

@keyframes scaleAnimation3 {
    0% {
        transform: scaleX(0.7) scaleY(1.4);
    }
    50% {
        transform: scaleX(0.5) scaleY(1);
    }
    100% {
        transform: scaleX(0.7) scaleY(1.4);
    }
}

@keyframes scaleAnimation4 {
    0% {
        transform: scaleX(0.7) scaleY(1.4);
    }
    50% {
        transform: scaleX(1.1) scaleY(2.2);
    }
    100% {
        transform: scaleX(0.7) scaleY(1.4);
    }
}

