.footer {
    background: linear-gradient(to right, #1c3150, #001029);
    color: $main;
}

a {
    color: inherit;
}

.contact-list {
    padding: 20px 0;

    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.list__item img {
    width: 46px;
    opacity: 0.7;

    transition: all 0.3s ease-in;

    &:hover {
        opacity: 1;
        -webkit-filter: drop-shadow(0px 0px 7px rgb(1, 5, 255));
        filter: drop-shadow(0px 0px 8px rgb(0, 0, 255));
    }

    @media screen and (width <= 1366px) {
        width: 40px;
    }
}

.contact-display-box {
    position: relative;    
    height: 30px;
    overflow: hidden;
    text-align: center;
    padding: 6px 0 0;
    font-size: 18px;
    opacity: 0.88;

    @media screen and (width <= 1366px) {
        font-size: 14px;
        height: 26px;
    }
}

.contact-display-item {
    position: absolute;    
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    visibility: hidden;
    opacity: 0;

    &.active {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.3s ease-in;
    }

}
