.header {
    height: 100vh;
    background-image: url(../img/header_bg.jpg);
    background-size: cover;
}

.header__container {
    max-width: 1176px;
    margin: 0 auto;
}

.header__content {
    max-width: 610px;
    margin: 0 auto;
    padding: 10px 15px;
    text-align: center;
}

.header__title {
    margin-bottom: 20px;
}

.subtle {
    font-weight: 400;
}

