.nav__list {
    display: flex;
    gap: 36px;
    
    @media screen and (width <= 1366px) {
        gap: 22px;
    }
}

.nav__item {
    line-height: 1.45;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.3) 8.85%,
        #fff 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    padding: 4px 18px;

    border-radius: 20px;
    box-shadow: 0 2px 1px rgba($color: #ffffff, $alpha: 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    &:hover {
        cursor: pointer;
        background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.8) 8.85%,
            #fff 100%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        border-radius: 20px;
        box-shadow: 0 2px 1px rgba($color: #ffffff, $alpha: 0.4);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    &:active {
        background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 1) 8.85%,
            #fff 100%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        border-radius: 20px;
        box-shadow: 0 2px 1px rgba($color: #ffffff, $alpha: 0.7);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
}

