.main-row__content {
    width: calc(100% - 120px);
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 12px;
    padding: 20px;
    color: $secondary;
    background: rgba(217, 217, 217, 0.20);

    overflow: scroll;
}

.content__img {
    margin: 40px 0 30px;
}

