.projects {
    height: 100vh;
    background: linear-gradient(to right, #004C79, #004868, #00304D, #00183B, #0a0c2c);
    overflow: hidden;
    
    @media screen and (width <= 1000px) {
        min-height: 100vh;
        height: auto;
    }
}

.projects__title {
    text-align: center;
}

.projects__content {
    width: 100%;
    display: flex;
    gap: 24px;
    justify-content: space-between;
    align-items: center;

    @media screen and (width <= 1000px) {
        flex-direction: column-reverse;
        gap: 8px;
        justify-content: center;
    }
}