.projects__box {
    box-sizing: border-box;
    margin: 100px 14px 230px;
    width: calc(100% - 306px);
    height: 70vh;

    @media screen and (height <= 960px) {
        height: 72vh;
        margin: 48px 14px;
    }

    @media screen and (width <= 1000px) {
        width: 92%;
        height: 58vh;
        margin: 40px 14px 60px;
    }

    @media screen and (width <= 1366px) {
        margin: 12px 14px 36px;
    }

}

.box__main-row {
    margin: 0 auto 20px;
    width: 100%;
    height: calc(100% - 56px);
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (width <= 760px) {
        min-height: 100%;
    }
}

.main-row__arrow {
    width: 45px;
    height: 45px;

    & g:hover path {
        fill-opacity: 0.9;
        cursor: pointer;
        transition: all 0.3s;
    }

    & g:active path {
        fill-opacity: 0.66;
        cursor: pointer;
    }

    @media screen and (width <= 760px) {
        display: none;
    }
}