.projects__box {
    // border: 1px solid red;
    box-sizing: border-box;
    margin: 100px 14px 230px;
    width: calc(100% - 306px);
    height: 64vh;
    @media screen and (height <= 960px) {
        height: 72vh;
        margin: 60px 14px;
    }
}

.box__main-row {
    // border: 1px solid rgb(248, 47, 255);
    margin: 0 auto 20px;
    width: 100%;
    height: calc(100% - 56px);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-row__arrow {
    width: 45px;
    height: 45px;

    & g:hover path {
        fill-opacity: 0.9;
        cursor: pointer;
        transition: all 0.3s;
    }

    & g:active path {
        fill-opacity: 0.66;
        cursor: pointer;
    }
}