.projects {
    height: 100vh;
    background: radial-gradient(
            50% 50% at 50% 50%,
            rgba(0, 69, 103, 0.2) 0%,
            rgba(64, 20, 55, 0.2) 99.94%
        ),
        #002749;
        overflow: hidden;
}

.projects__title {
    text-align: center;
}

.projects__content {
    width: 100%;
    display: flex;
    gap: 24px;
    justify-content: space-between;
    align-items: center;
}