.stack {
    height: 100vh;
    background: linear-gradient(to right, #004C79, #004868, #00304D, #00183B, #0a0c2c);

    overflow: hidden;
}

.stack__title {
    text-align: center;
    margin: 4% 0;
    @media screen and (height < 900px) {
        margin: 6px 0 30px;
    }
}

.stack-box {
    height: 70vh;
    margin: 0 120px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;

    @media screen and (height < 900px) {
        height: 76vh;
    }
}

.stack-box__item {
    height: max-content;
    width: 72%;
    margin: 20px auto;
    padding: 12px;
    text-align: center;
    @media screen and (height < 900px) {
        width: 62%;
    }
    @media screen and (height < 760px) {
        width: 52%;
    }
}

.item__img {
    width: 58%;
    margin: 0 auto;
}

.item__name {
    text-align: center;
    margin-top: 12px;
    font-size: 26px;
    @media screen and (height < 760px) {
        font-size: 16px;
    }
    @media screen and (width < 1200px) {
        font-size: 16px;
    }
}
