.languege-switch-btn {
    display: flex;
    align-items: center;
    gap: 12px;
    
}

.btn__selection-arrow {
    transition: all 0.5s;
    margin-left: 10px;

    &.active {
        transform: rotate(180deg);
    }

    @media screen and (width <= 1366px) {
        margin-left: -4px;
    }

    @media screen and (width <= 1000px) {
        margin-left: -18px;
    }

    @media screen and (width <= 760px) {
        margin-left: -28px;
        margin-right: 6px;
    }
}

.languages_list {

    padding: 14px 0;

    display: none;
    flex-direction: column;
    gap: 10px;

    &.active {
        display: flex;
    }

}

.btn__current_lang-name {
    width: 80px;
    display: flex;
    
}


.languages_list__btn {
    display: flex;
    gap: 10px;
}