@font-face {
    font-family: 'HelveticaNeue-Regular';
    src:url('../fonts/HelveticaNeue-Regular/HelveticaNeueCyr-Roman.woff2') format('woff2'),
        url('../fonts/HelveticaNeue-Regular/HelveticaNeueCyr-Roman.woff') format('woff'),
        url('../fonts/HelveticaNeue-Regular/HelveticaNeueCyr-Roman.ttf')  format('truetype'); 
}

@font-face {
    font-family: 'SF-Distant-Galaxy';
    src:url('../fonts/sfdistantgalaxycyrillic.ttf')  format('truetype');
}   


body {
    font-family: $reg;
    color: $main;
    font-size: 30px;
    @media screen and (width <= 1366px) {
        font-size: 18px;
    }
}

.container {
    max-width: 1176px;
    margin: 0 auto;
    padding: 32px;
}


.title {
    font-weight: 700;
    font-size: 46px;
    line-height: 1.21;
    letter-spacing: 2px;
    margin-bottom: 20px;
    
    @media screen and (width <= 1366px) {
        font-size: 36px;
    }
}